* {
  margin: 0;
  padding: 0;
  user-select: none; 
  box-sizing: border-box;
} 
body {
 background-color: rgb(23, 250, 182);
 justify-content: center;
 align-items: center;
 display: flex;
 min-height: 100vh;
}

.box{ 
  background-color: white;
  padding-top: 50px;
  padding: 60px;
}
.box h2{
   margin-bottom: 40px;
   text-align: center;
   font-size: 26px;
   color: rgb(27, 35, 41) ;
   font-family: Oxygen;
 }
 input{
   padding: 20px;
   user-select: none;
   height: 50px;
   width: 475px;
   border-radius: 19px;
   border: 2px solid rgb(26, 28, 29)
   outline: none;
   font-size: 18px;
 }
 input::placeholder{
   font-size: 18px
 }
#button {
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 40px;
  background-color: #0f0101;
  border: 2px solid;
  width: 155px;
  height: 50px;
  text-align: center;
  background-color: #0f0101;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;  
}

 .btn2{
   margin-left: 160px
 }

#button:hover {
  color: white;
  background-color: black;
}